*{
	margin: 0;
	position: 0;
	outline: none;
	user-select: none;
}


html,body{
	overflow-x: hidden;
	width: 100%;
	/* height: 2000px; */
	height: 100%;
}

body{
	background: linear-gradient(to top right, #2c59d4, #2fd6aa);
}

*::-webkit-scrollbar {
	width: 15px;
	background-color: #47474767;
}

*::-webkit-scrollbar-thumb {
	border-radius: 3px;
	background-color: #555555c9;
}

*::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(9, 255, 173, 0.281);
	border-radius: 3px;
	background-color: #f9f9fd;
}

header{
	width: 100%;
	height: 50px;
	padding: 0 0.5% 0px 0.5px;
	color: white;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.7);
	background: rgba(0, 0, 0, 0.70);
	position: fixed;

}

#timerGroup{
 	width: 100%;
 	height: 95%;
 	display: flex;
 	align-items: center;
	justify-content: center;
	flex-direction: row;
 	/* font-family: 'Fredoka One', cursive; */
}

#timerGroup .timerElement {
	height: 90%;
 	width: 90px;
 	display: flex;
	align-items: center;
	justify-content: center;
 	background: #fefefe;
 	color: #303134;
 	border-radius: 6px;
}

.timerElement p{
	font-size: 24px;
	font-weight: 900;
}

.notifications{
	height: 40px;
	width: 80%;
	background-color: transparent;
	border-radius: 5px;
	position: fixed;
	top: 55px;
	left: 10%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.notifications-success{
	background: rgba(11, 162, 26, 0.90);
}

.notifications-failure{
	background: rgba(162, 11, 11, 0.90);
}

.notifications h2{
	color: white;
	text-align: center;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.wrapper{
	position: relative;
	overflow-x: hidden;
}

.arrow {
    position: absolute;
    cursor: pointer;
    width: 26px;
    height: 50px;
	top: 2.5%;
	left: 101%;
	backdrop-filter: blur(10px);
	background: rgba(0, 0, 0, 0.65);
	border-radius: 5px;
}

.arrow.hide{
 display: none;
}

.arrow-underside {
    position: absolute;
    background-color: transparent;
    top: 32px;
    width: 25px;
    height: 4px;
    display: block;
    transform: rotate(120deg);
    float: right;
    border-radius: 2px;
}
.arrow-underside:after {
    content: "";
	background: #868686;
    width: 25px;
    height: 4px;
    display: block;
    float: right;
    border-radius: 6px 10px 10px 6px;
    transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 0.8);
    z-index: -1;
}
 
.arrow-topside {
    position: absolute;
    background-color: transparent;
	bottom: 32.5px;
	left: 1px;
    width: 25px;
    height: 4px;
    display: block;
    transform: rotate(-120deg);
    float: right;
    border-radius: 2px;
}
.arrow-topside:after {
    content: "";
	backdrop-filter: blur(10px);
	background: #868686; 
    width: 24px;
    height: 4px;
    display: block;
    float: right;
    border-radius: 10px 6px 6px 10px;
    transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 0.8);
    z-index: -1;
}
.open .arrow-underside:after {
    transform-origin: center center;
    transform: rotate(120deg);
}
.open .arrow-topside:after {
    transform-origin: center center;
    transform: rotate(-120deg);
}

.menu{
	position: fixed;
	width: 20%;
	height: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	backdrop-filter: blur(10px);
	background: rgba(0, 0, 0, 0.65);
	color: white;
	transition: 1s;
	transform: translateX(-97%);
	top: 50px;
}

.menu.btn{
	transform: translateX(-97%);
}

.menu.btn.open{
	transform: translateX(0%);
}
.menu.hover:hover{
	transform: translateX(0%);
}

.menu-list{
	height: 100%;
	width: 90%;
	font-size: 20px;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	text-align: center;
	align-items: center;
}

.accordion{
    cursor: pointer;
    padding: 5px;
    width: 95%;
    text-align: center;
	border: none;
}
.accordion input[type=checkbox] {
	display: none;
}

.accordion .heading{
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	border: 1px solid rgb(134, 134, 134);
	background-color: rgba(0, 0, 0, 0.15);
}

.accordion .accord-content h3{
	display: none;
}

.accordion .accord-content.show h3{
	display: block;
	font-size: 20px;
	margin: 5px 0 5px 0;
}

.heading.hide{
	display: none;
}

.heading:hover {
    background-color: rgb(248, 248, 248, 0.5);
}

.accordion input:checked + .heading{
	background-color: rgb(248, 248, 248, 0.5);
}

.accord-content{
    display: none;
}

.accordion input:checked ~ .accord-content{
	display: block;
} 
 
.accord-content.show{
	width: 100%;
	display: block;
}

.menu.btn.open .accordion .accord-content{
	background-color: rgba(160, 158, 158, 0.25);
}

.radio-group input[type="radio"]{
	display: none;
}

.radio-group{
	width: 100%;
}

.radio-group label{
	width: 100%;
	display: flex;
	cursor: pointer;
	line-height: 35px;
	box-sizing: border-box;
	border: 1px solid #999;
	font-size: 20px;
	justify-content: center;
	white-space: nowrap;
	opacity: 1;
}

.range-group > p{
	font-size: 18px;
}

.radio-item{
	width: 100%;
}

.radio-group input[type=radio]:checked + label{
	background: rgb(47, 214, 170);
}

 input[type=radio]:disabled + label{
	opacity: 0.15;
}

.radio-group label:hover {
	color: #666;
}

.range-group{
	width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: rgb(228, 228, 228);
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border: 1px solid rgb(255, 252, 252);
  margin-top: 5px;
}

.slider:hover {
  opacity: 1;
}

.slider:disabled{
	opacity: 0.1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}

.table{
	width: 95%;
	height: 350px;
	margin: 80px 2.5%;
	margin-bottom: 2%;
	background-color: white;
	border-radius: 5px;
}

.table div{
	float: left;
	height: 33.33%;
	width: 11.11%;
	box-sizing: border-box;
	border: solid #e6e6e6;
	background-color: #f7f6f5;
	display: flex;
	align-items: center;
	justify-content: center;
}

.table div > h2{
	font-size: 28px;
}


.table div:nth-child(1) {
	border-top-left-radius: 5px ;
}
.table div:nth-child(9) {
	border-top-right-radius: 5px ;
}
.table div:nth-child(19) {
	border-bottom-left-radius: 5px ;
}
.table div:nth-child(27) {
	border-bottom-right-radius: 5px ;
}

.inputs-group{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 80px;
	width: 100%;
	border: dashed rgba(255, 255, 255, 0.5);
}

.inputs-group > input[type="number"]{
	font-size: 26px;
	text-align: center;
	width: 6%;
	height: 55%;
	border-radius: 15px;
}

.inputs-group > input[type="number"]:not(:last-child) {
	margin-right: 4%;
}

.check-group{
	width: 100%;
	display: flex;
	justify-content: space-evenly;
}


.check-item input[type="checkbox"]{
	display: none;
}

.check-item{
	width: 5%;
	/* flex-direction: row; */
	margin-right: 4%;
}

.check-item label{
	background: white;
	width: 100%;
	display: flex;
	justify-content: center;
	cursor: pointer;
	padding: 0px 15px;
	line-height: 35px;
	border: 1px solid #999;
	border-radius: 10px;
}

.check-item input[type=checkbox]:checked + label {
	background: #2fd6aa;
}

.check-item label:hover {
	background-color: #a5e6d5;
	color: #666;
}

.btnGroup{
	margin-top: 20px;
	text-align: center;
}

.btnControl{
	font-size: 16px;
	width: 120px;
	height: 50px;
	background-color: rgb(47, 214, 170);
	opacity: 1;
	text-align: center;
	color:black;
	padding: 0;
	border-radius: 20px;
	margin-right: 5%;
}

.btnControl:hover{
	color: black;
	cursor: pointer;
	background: #2c59d4;/* Меняем фоновый цвет */
	color: white; /* Меняем цвет текста */
	box-shadow: inset 0 0 0 3px white; /* Меняем тень */
}

.btnControl:disabled{
	opacity: 0.15;
}

.statistics{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 20px;
	margin-bottom: 20px;
	border-top-style: solid;
	border-top-color: rgba(255, 255, 255, 0.5);
	color: #ffffff;
}

.statistics > h3{
	font-size: 28px;
	margin-bottom: 20px;
}

.statistics > div{
	width: 98%;
	display: flex;
	max-height: 250px;
}

.statistic-heading{
	box-sizing: border-box;
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	background-color: rgba(75, 75, 75, 0.25);
	font-size: 18px;
}

.statistic-underHeading{
	display: flex;
	justify-content: space-around;
	font-size: 18px;
}

#statisticArab, #statisticRoman, #statisticWord{
	width: 33%;
	min-height: 216px;
	text-align: center;
	box-sizing: border-box;
	border: 1px solid rgba(255, 255, 255, 1);
	border-radius: 5px;
	overflow-y: auto;
}

#statisticArab, #statisticRoman, #statisticWord:not(:last-child){
	margin-right: 1%;
}


.outFiled{
	box-sizing: border-box;
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.valuesTableInputs{
	display: flex;
	justify-content: space-around;
}

.right{
	background-color: rgba(62, 240, 110, 0.45);
}

.wrong{
	background-color: rgba(240, 77, 77, 0.45);
}

.conclusion{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	margin-top: 10px;
	margin-bottom: 70px;
}

.conclusion div{
	width: 90%;
}

.conclusion h2{
	font-size: 28px;
}

.conclusion div p{
	margin-top: 10px;
	font-size: 24px;
}

@media(max-width:1250px){
	.statistics > div{
		flex-direction: column;
		align-items: center;
		margin-right: 0;
		max-height: none;
		overflow-y: hidden;
	}
	#statisticArab, #statisticRoman, #statisticWord{
		width: 100%;
		min-height: 108px;
		margin-right: 0;
		margin-bottom: 20px;
		background-color: rgba(75, 75, 75, 0.198);
	}
}

@media(max-width: 1150px) and (min-width: 1020px){
	.radio-group label {
		height: 32px;
		font-size: 18px;
	} 
	.table > div > h2 {
		font-size: 24px;
	}
	.menu{
		transform: translateX(-95%);
	}
	.accordion .accord-content.show h3{
		font-size: 20px;
	}
}

@media(max-width: 1020px) and (min-width: 810px){
	.btnControl{
		width: 110px;
		height: 45px;
	}
	.table{
		height: 270px;
	}
	.table div > h2{
	font-size: 22px;
	}
	.radio-group label {
		height: 30px;
		font-size: 16px;
	}
	.range-group p {
		font-size: 18px;
	}
	.accordion .accord-content.show h3{
		font-size: 18px;
	}
}

@media(max-width: 810px) and (min-width: 520px){
	.btnControl{
		width: 100px;
		height: 45px;
		font-size: 14px;
	}
	.table{
		height: 210px;
	}
	.table div > h2{
	font-size: 16px;
	}
	.radio-group label {
		font-size: 14px;
		height: 29px;
	}
	.range-group p {
		font-size: 16px;
	}
	.accordion .heading{
		font-size: 15px;
	}
	.check-item label{
		padding: 0px 10px;
	}
	.inputs-group > input[type="number"]{
		width: 8%;
		height: 45%;
		font-size: 17px;
	}
	.statistics div > p{
		font-size: 20px;
	}
}

@media(max-width: 520px) {
	header{
		height: 40px;
	}
	.menu{
		top:40px;
	}
	#timerGroup .timerElement{
		width: 40px;
	}
	.notifications{
		height: 30px;
		top: 45px;	
		font-size: 12px;
	}
	.btnControl{
		width: 75px;
		height: 37px;
		font-size: 11px;
	}
	.accordion .heading{
	font-size: 14px;
	}
	.radio-group label {
		height: 28px;
		font-size: 12px;
	}
	.range-group p {
		font-size: 16px;
	}
	.table{
		height: 180px;
	}
	.table div > h2{
	font-size: 13px;
	}
	.check-item label{
		padding: 0px 5px;
	}
	.inputs-group > input[type="number"]{
		width: 8%;
		height: 40%;
		font-size: 14px;
	}
	.statistics div > p{
		font-size: 17px;
	}
	
}

@media(max-width: 450px) {
	.accordion .heading{
	font-size: 12px;
	}
	.statistics div > p{
		font-size: 15px;
	}
	.conclusion p{
		font-size: 18px !important;
	}
}